<a  href="" routerLink="/">Add Employee</a>

<div class="container">
    <h1>Employee List</h1>
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Date of Birth</th>
            <th>Role</th>
            <th>Phone</th>
            <th>Gender</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employeeList">
          <td>{{ employee.name }}</td>
          <td>{{ employee.address }}</td>
          <td>{{ employee.dob }}</td>
          <td>{{ employee.role }}</td>
          <td>{{ employee.phone }}</td>
          <td>{{ employee.gender }}</td>
        </tr>
      </tbody>
    </table>
  </div>